/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00008b; /* Azul anil */
    color: #ffffff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #060c31;
    text-align: center;
    padding: 30px;
    font-family: "Georgia", serif;
    font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #fff; /* Cor do texto */
}

header h1 {
    font-size: 36px;
    color: #ffffff;
}

header p {
    font-size: 18px;
    color: #ffffff;
}

.clique {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.featured-books {
    text-align: center;
    margin-top: 40px;
}

.featured-books h2 {
    font-size: 28px;
    color: #09dada;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; /* Espaço entre as imagens */
    margin-top: 40px; /* Maior margem superior para espaço na borda da página */
    padding: 0 20px; /* Espaço interno nas laterais */
}

.book {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.book img {
    max-width: 150px; /* Reduz o tamanho das imagens */
    display: block;
    margin: 0 auto;
}

.book h3 {
    font-size: 24px;
    color: #333;
}

.book p {
    font-size: 16px;
    color: #666;
}

.newsletter {
    background-color: #00008b; /* Azul anil */
    background-color: ;
    text-align: center;
    padding: 40px;
}

.newsletter h2 {
    font-size: 28px;
    color: #fffdfd;
}

.newsletter p {
    font-size: 18px;
    color: #ffffff;
}

.newsletter input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.newsletter button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* CSS para dispositivos móveis */
@media (max-width: 768px) {
    .books-container {
        display: block; /* Altere a exibição para um abaixo do outro */
    }

    .book {
        width: 100%; /* Defina a largura como 100% para ocupar a largura total */
        margin-right: 0; /* Remova o espaçamento à direita */
        margin-bottom: 20px;
    }
}

