/* styles.css */

body {
    font-family: "Libre Baskerville", serif;
    margin: 0;
    padding: 0;
    background-color: #031634; /* Azul anil */
    color: #ffffff;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

.titulo {
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 12px; /* Tamanho da fonte para a primeira e terceira linhas */
    line-height: 1.0; /* Espaçamento entre as linhas */
    color: #e8ddcb;
    letter-spacing: 2px;
}

.titulo .destaque {
    text-align: center;
    display:block;
    font-size:44px; /* Tamanho da fonte para a segunda linha (4 vezes maior) */
    font-style: italic; /* Texto em itálico para a segunda linha */
    color: #e8ddcb;
    letter-spacing: 5px; 
    margin-top: 10px;
    margin-bottom: 10px;
}


header {
    padding-top: 30px;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
    color: #4d4d4d; /* Cor do texto */
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */

    
}

*
header h1 {
    font-size: 30px;
    color:#e8ddcb;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

header p {
    font-size: 18px;
    color: #ffffff;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}


.featured-books {
    
    text-align: center;
    margin-top: 20px;
    padding: 0px 0px;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

.featured-books > a {
    display: inline-block;
    width: 100%;
    margin-bottom: 6px;
    padding: 30px 0px;
    font-size: 30px;
    background-color: #036564; /* Cor de fundo */
    color: #031634; /* Cor do texto */
   
    letter-spacing: 1px; /* Espaçamento entre letras */
    text-shadow: 2px 2px 2px rgb(255, 255, 255); /* Sombra de texto */
    font-family: "Arial", sans-serif; /* Escolha uma fonte legível */

    border: none; /* Remove a borda */
    cursor: pointer; /* Cursor de mão ao passar o mouse */
    text-decoration: none; /* Remove sublinhado do texto */
    transition: background-color 0.3s ease; /* Efeito de transição na cor de fundo */
}

.botao1 {
    background-image: url('imagens_botao/1.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajuste o tamanho da imagem para cobrir todo o botão */
    background-repeat: no-repeat; /* Evita que a imagem de fundo seja repetida */
}

.botao2 {
    background-image: url('imagens_botao/2.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajuste o tamanho da imagem para cobrir todo o botão */
    background-repeat: no-repeat; /* Evita que a imagem de fundo seja repetida */
}

.botao3 {
    background-image: url('imagens_botao/3.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajuste o tamanho da imagem para cobrir todo o botão */
    background-repeat: no-repeat; /* Evita que a imagem de fundo seja repetida */
}

.botao4 {
    background-image: url('imagens_botao/4.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajuste o tamanho da imagem para cobrir todo o botão */
    background-repeat: no-repeat; /* Evita que a imagem de fundo seja repetida */
}




/* Estilização do botão quando o mouse passa por cima */
.botao:hover {
    background-color: #0056b3; /* Cor de fundo alterada */
}


.clique {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 0;
    font-family: "Arial", sans-serif;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}


.featured-books-2 {
    text-align: center;
    margin-top: 0px;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

.featured-books h2 {
    font-size: 14px;
    padding: 5px;,
    margin-top: 12px;
    font-family: "Arial", sans-serif;
    color:  #0de7f6;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

.books-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; /* Espaço entre as imagens */
    margin-top: 40px; /* Maior margem superior para espaço na borda da página */
    padding: 10 10; /* Espaço interno nas laterais */
    width: auto;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

.book {
    padding-top: 10px ;
    margin: 0px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.book img {
    max-width: 150px; /* Reduz o tamanho das imagens */
    display: block;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

.book h3 {
    font-size: 24px;
    color: #333;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

.book p {
    font-size: 16px;
    color: #666;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

.botao-topo {
    text-align: center;
    font-size: 14px ;
    padding: 10px;
    background-color: #0de7f6;
    color: #031634;
    display: inline-block;
    margin: 0 auto; /* Centraliza horizontalmente o botão */
    margin-bottom: 6px;
    border-radius: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #033649;
    color: #fff;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

/* CSS para dispositivos móveis */
@media (max-width: 768px) {
    .books-container {
        display: block; /* Altere a exibição para um abaixo do outro */
    }

    .book {
        width: 100%; /* Defina a largura como 100% para ocupar a largura total */
        margin-right: 0; /* Remova o espaçamento à direita */
        margin-bottom: 20px;
    }
}

